.icone{
  border-width: 1px;
  border-color:gray;
  border-style:solid;
  color:white;
  background-color:slategrey
}
.NomeMaquina {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  color: white;
  background-color: slategrey
}
.CodStatus{
  border-width: 1px;
  border-color:gray;
  border-style:solid;
}
.NomeStatus{
  border-width: 1px;
  border-color:gray;
  border-style:solid;
}

