.icone{
  border-width: 1px;
  border-color:gray;
  border-style:solid;
  color:white;
  background-color:slategrey
}
.NomeMaquina {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  color: white;
  background-color: slategrey
}
.CodStatus{
  border-width: 1px;
  border-color:gray;
  border-style:solid;
}
.NomeStatus{
  border-width: 1px;
  border-color:gray;
  border-style:solid;
}
.nomeCampo{
  font-size: 10px;
  font-weight: bold;
  height: 30%;
  padding-left: 2px;
}
.valorCampo{
  height: 50%;
  text-align:center;
  padding-top : 10px
}
.dataEvento {
  height: 20%;
  text-align: left;
  font-size: 10px;
}
.dadoContainer {
  height: 100%;
  width: 100%;
}
